#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 65px;
  padding-top: 35px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 700px;
  background: white;
}

body {
	background: linear-gradient(45deg, #ff8519, #e73c7e, #9719ff, #00c7f2);
	background-size: 350% 350%;
	animation: sweep 10s infinite;
}

@keyframes sweep {
	0% {background-position: 0% 0%;}
	50% {background-position: 100% 0%;}
	100% {background-position: 0% 0%;}
}

h1 {
  font-family: "Roboto";
  font-size: 55;
  color: white;
  margin-bottom: 45px;
  margin-top: 60px;
}

h2 {
  font-family: "Roboto";
  font-size: 15;
  color: #414141;
  margin-top: 35px;
  letter-spacing: 0.5px;
}

p {
  font-family: "Roboto";
  font-size: 10;
  color: #414141;
  margin-bottom: 35px;
  letter-spacing: 0.5px;
}

li {
  font-family: "Roboto";
  font-size: 10;
  color: #414141;
  padding: 2.5px;
  letter-spacing: 0.5px;
}

.button {
  background-color: transparent;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 10;
  color: #414141;
  letter-spacing: 0.5px;
}

.button1 {
  font-family: "Roboto";
  font-size: 10;
  color: #414141;
  border: 2px solid #414141;
}

.button1:hover {
  font-family: "Roboto";
  font-size: 10;
  color: white;
  background: #414141;
}

#buttons {
  text-align: center;
  }

#surprisePic {
  display: none;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 10px;
}

#greeting-container {
  font-family: "Roboto";
  font-size: 13;
  color: #414141;
  margin-bottom: 35px;
  letter-spacing: 0.5px;
}